# ***Pandas***

In [93]:
import numpy as np
import pandas as pd

# **Creating a Series by passing a list of values, letting pandas create a default integer index:**

In [94]:
s = pd.Series([1,3,5,9,0])
print(s)

0    1
1    3
2    5
3    9
4    0
dtype: int64

# **Data from 2d array**

In [95]:
dataframe = pd.DataFrame([[1,2],[2,3],[4,5],[6,7],[7,8],[9,10],[11,12]])

In [96]:
dataframe.head()

   0  1
0  1  2
1  2  3
2  4  5
3  6  7
4  7  8

In [97]:
dataframe.tail()

    0   1
2   4   5
3   6   7
4   7   8
5   9  10
6  11  12

In [98]:
data = { "Name" : ['Hakka','Bukka','Silly','Lilli'], "Age": [29,None,30,50], "Address" : ['Bangaluru','Mangaluru','Mysuru','Shivamogga'] }
df = pd.DataFrame(data)

In [99]:
df.shape

(4, 3)

In [100]:
df.head()

    Name   Age     Address
0  Hakka  29.0   Bangaluru
1  Bukka   NaN   Mangaluru
2  Silly  30.0      Mysuru
3  Lilli  50.0  Shivamogga

In [101]:
df.columns

Index(['Name', 'Age', 'Address'], dtype='object')

In [102]:
df.replace(to_replace= 'Bukka', value='chola')

    Name   Age     Address
0  Hakka  29.0   Bangaluru
1  chola   NaN   Mangaluru
2  Silly  30.0      Mysuru
3  Lilli  50.0  Shivamogga

In [103]:
df.fillna(100)

    Name    Age     Address
0  Hakka   29.0   Bangaluru
1  Bukka  100.0   Mangaluru
2  Silly   30.0      Mysuru
3  Lilli   50.0  Shivamogga

In [105]:
df.loc[3]

Name            Lilli
Age              50.0
Address    Shivamogga
Name: 3, dtype: object

In [106]:
df.to_numpy()

array([['Hakka', 29.0, 'Bangaluru'],
       ['Bukka', nan, 'Mangaluru'],
       ['Silly', 30.0, 'Mysuru'],
       ['Lilli', 50.0, 'Shivamogga']], dtype=object)